#commits-pane {
  overflow-x: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#commits-pane > ul {
  overflow-y: auto;
  user-select: none;
}
#commits-pane > ul > li {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: stretch;
}
#commits-pane .short .date {
  display: none;
}
#commits-pane .short > a {
  flex: 1;
}

#commits-pane .short > * {
  display: flex;
  align-items: center;
}

.commit-refs-container {
  width: 150px;
  height: 17px;
  overflow: hidden;
  position: relative;
  flex: none;
}
.commit-refs-container:hover {
  overflow: visible;
  z-index: 9999;
}
.commit-refs > li {
  display: none;
}
.commit-refs > li:first-child {
  display: block;
}
.commit-refs-container:hover .commit-refs {
  position: absolute;
  overflow: visible;
  background-color: #000;
  min-width: 150px;
  left: 0;
  border: 1px solid #777;
  padding: 3px;
}
.commit-refs-container:hover .commit-refs > li {
  display: block;
}
.commit-graph > li {
  display: none;
}

.graph-container {
  overflow: hidden;
  position: relative;

  margin: 2px;
  flex: none;
  display: flex;
}
.graph-indicator {
  border-radius: 9px;
}
.graph-container,
.graph-indicator {
  width: 16px;
  height: 16px;
}

.graph-container:hover {
  overflow: visible;
  z-index: 9999;
}
.graph-container:hover .commit-graph {
  position: absolute;
  overflow: visible;
  background-color: #000;
  left: 0;
  border: 1px solid #777;
  padding: 3px;
}
.graph-container:hover .commit-graph > li {
  display: block;
}
