#commits-pane {
  overflow-x: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#commits-pane > ul {
  overflow-y: auto;
  user-select: none;
}
#commits-pane > ul > li {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
#commits-pane .short .date {
  display: none;
}
#commits-pane .short > a {
  flex: 1;
}

.commit-refs-container {
  width: 150px;
  overflow: hidden;
  position: relative;
  flex: none;
}
.commit-refs-container:hover {
  overflow: visible;
  z-index: 9999;
}
.commit-refs > li {
  display: none;
}
.commit-refs > li:first-child {
  display: block;
}
.commit-refs-container:hover .commit-refs {
  position: absolute;
  overflow: visible;
  background-color: #000;
  min-width: 150px;
  left: 0;
  border: 1px solid #777;
  padding: 3px;
}
.commit-refs-container:hover .commit-refs > li {
  display: block;
}
/* TODO: fix this */
#commits-pane .commit-graph {
  display: none;
}

#commits-pane .graph-indicator {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  margin: 2px;
  flex: none;
}
