.tree-list h4 {
    display: inline;
}
#diff-pane {
    width: 325px;
    overflow: auto;
}
.diff-view {
    overflow: auto;
}
.diff-view > li {
    white-space: nowrap;
    position: relative;
}
.diff-view > li > a {
    padding: 3px;
}
.diff-view > li > .action-group {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
}

.diff-view > li:hover > .action-group {
    display: initial;
}

#diff-pane .msg pre {
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: pre-line;
}

.parent-list {
    display: inline;
}
.parent-list li {
    display: inline;
}
.parent-list li + li:before {
    content: ", ";
}

.changed-files {
    flex: 1;
}
.changed-files .file-modified {
    color: yellowgreen;
}
.changed-files .file-deleted {
    color: red;
}
.changed-files .file-added {
    color: green;
}
.changed-files .file-renamed {
    color: blue;
}
.changed-files .file-types {
    list-style: none;
}
.changed-files .file-types li {
    display: inline;
    margin-right: 11px;
}
.changed-files .file-types li:last-child {
    margin-right: 0;
}
