.tree-list h4 {
    display: inline;
}
#diff-pane {
    max-height: 100vh;
    overflow: auto;
}
.diff-header {
    color: teal;
}
.diff-line {
    display: contents;
}
.diff-line > .diff-type {
    display: inline-block;
    width: 1em;
}
.diff-line:empty {
    content: "&nbsp;";
}
.diff-line.added {
    color: green;
}
.diff-line.deleted {
    color: red;
}
.diff-line-number {
    margin-right: 5px;
    display: contents;
}
/* .diff-line.added .diff-line-content {
    background-color: darkgreen;
} */
/* .diff-line.deleted .diff-line-content {
    background-color: darkred;
} */
pre.diff-line-content {
    display: inline;
    margin: 0;
}
.diff-view li {
    white-space: nowrap;
}
#diff-pane .msg p,
#diff-pane .msg pre {
    margin-top: 3px;
    margin-bottom: 3px;
}

.diff-view .file-modified {
    color: yellowgreen;
}
.diff-view .file-deleted {
    color: red;
}
.diff-view .file-added {
    color: green;
}
.diff-view .file-renamed {
    color: blue;
}
