.dialog-window-container,
.dialog-window-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
}
.dialog-window-container {
    display: grid;
}
.dialog-window-backdrop {
    background-color: #000;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 19;
}

.dialog-window {
    margin: auto;
    background-color: #000;
    border: 1px solid #fff;
    padding: 11px;
}
