#commits-pane {
  overflow-x: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#commits-pane > #commits-container > ul {
  user-select: none;
}
#commits-pane > #commits-container > ul > li {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: stretch;
  width: 100%;
}
.short .date {
  display: none;
}
.short > a {
  flex: 1;
  overflow: hidden;
}

.short > a:not(.selected):hover {
  background-color: #1c2122;
}

.short .msg {
  overflow: hidden;
  text-overflow: ellipsis;
}

.short > * {
  display: flex;
  align-items: center;
}

.commit-refs-container {
  width: 150px;
  height: 20px;
  overflow: hidden;
  position: relative;
  flex: none;
  align-items: start;
}
.commit-refs-container:hover {
  overflow: visible;
  z-index: 9999;
}
.commit-refs > li {
  display: none;
}
.commit-refs > li:first-child {
  display: block;
}
.commit-refs-container:hover .commit-refs > li {
  background-color: rgb(0, 0, 0);
  display: block;
}
.commit-refs-container:hover .commit-refs > li:hover {
  background-color: rgb(51, 51, 51);
}
.commit-refs-container .commit-refs > li > a {
  height: 20px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}

.graph-container {
  overflow: hidden;
  position: relative;
  margin: 2px;
  flex: none;
  display: flex;
}
.graph-indicator {
  border-radius: 9px;
  margin: auto;
}
.graph-indicator.small {
  height: 9px;
  width: 9px
}
.graph-container,
.graph-indicator {
  width: 16px;
  height: 16px;
}

.graph-container .commit-graph {
  display: none;
}

.graph-container:hover {
  overflow: visible;
  z-index: 9999;
}
.graph-container:hover .commit-graph {
  position: absolute;
  overflow: visible;
  background-color: #000;
  left: 0;
  border: 1px solid #777;
  padding: 3px;
  display: block;
}
