#working-area {
    display: flex;
    flex-direction: column;
    width: 325px;
}

#working-area-actions {
    flex: 1;
}

#unstaged-changes,
#staged-changes {
    overflow: auto;
    flex: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
}
