#working-area {
    display: flex;
    flex-direction: column;
    width: 325px;
}

#working-area-actions {
    flex: 1;
}

#unstaged-changes,
#staged-changes {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

#commit-msg {
    width: 100%;
    resize: vertical;
    max-height: calc(100vh - 360px);
    min-height: 50px;
}
