#file-diff {
    position: fixed;
    left: 0;
    z-index: 1;
    height: calc(100vh - 6px);
    /* TODO: fix layout.. */
    width: calc(100vw - 325px - 12px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    --border-color: #aaa;
}
#file-diff h1 {
    overflow-wrap: anywhere;
}
#file-diff > ul.hunks {
    overflow-y: auto;
    display: grid;
}
ul.hunks.inline {
    grid-template-columns: repeat(2, fit-content(20px)) 14px auto;
}
ul.hunks.side-by-side {
    grid-template-columns: fit-content(20px) 14px 1fr fit-content(20px) 14px 1fr;
}
.hunks > .diff-line {
    display: contents
}
#file-diff > ul li > table {
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.diff-header {
    display: block;
}
.hunks.inline .diff-header {
    grid-column: 1 / span 4;
}
.hunks.side-by-side .diff-header {
    grid-column: 1 / span 6;
}
.diff-header > p {
    color: teal;
}
.diff-line:empty {
    content: "&nbsp;";
}
.diff-line td {
    padding: 1px;
}
.diff-line .new,
.diff-line.new > * {
    background-color: darkgreen;
}
.diff-line .old,
.diff-line.old > * {
    background-color: darkred;
}
.diff-line-content {
    margin: 0;
    white-space: pre;
    vertical-align: top;
}
#file-diff.wrap-content .diff-line-content {
    white-space: pre-wrap;
    word-break: break-all;
}

#file-diff .diff-line .diff-type,
#file-diff .diff-line .diff-line-number {
    user-select: none;
    vertical-align: top;
    padding-left: 3px;
    padding-right: 3px;
}
.diff-line:hover .diff-line-number {
    background-color: cadetblue;
}
.diff-line-number {
    border-right: 1px solid var(--border-color);
}

.left-side-selected .right {
    user-select: none;
}
.right-side-selected .left {
    user-select: none;
}
