#file-diff {
    position: fixed;
    left: 200px;
    height: calc(100vh - 6px);
    width: calc(100vw - 325px - 200px - 10px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    --border-color: #aaa;
}
#file-diff h1 {
    overflow-wrap: anywhere;
}
#file-diff > ul {
    overflow-y: auto;
}
#file-diff > ul li {
    overflow-x: auto;
}
#file-diff > ul li > table {
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#file-diff .diff-line .diff-type,
#file-diff .diff-line .diff-line-number {
    user-select: none;
}
.diff-line:hover .diff-line-number {
    background-color: cadetblue;
}
.diff-line-number.old,
.diff-line-number.new {
    border-right: 1px solid var(--border-color);
}
