#file-diff {
    position: fixed;
    left: 0;
    z-index: 1;
    height: calc(100% - 6px);
    /* TODO: fix layout.. */
    width: calc(100vw - 325px - 12px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    --border-color: #aaa;
}
#file-diff h1 {
    overflow-wrap: anywhere;
}
#file-diff > .hunks {
    overflow-y: auto;
    will-change: transform;
}
.header {
    color: teal;
    margin-bottom: 0;
    border-bottom: 1px solid teal;
}
.diff-line:empty {
    content: "&nbsp;";
}
.diff-line td {
    padding: 1px;
}
.diff-line.new {
    background-color: darkgreen;
}
.diff-line.old {
    background-color: darkred;
}
.diff-line-content {
    color: #f5f5f5;
    margin: 0;
    white-space: pre;
}

.diff-line:hover .diff-line-number {
    background-color: cadetblue;
}
.diff-type {
    width: 10px;
}
