.tree-list h4 {
    display: inline;
}
#diff-pane {
    width: 325px;
    display: flex;
    flex-direction: column;
}
.diff-view {
    overflow-y: auto;
    overflow-x: clip;
    flex: 1;
    /* will-change: transform; */
}
.diff-view li {
    white-space: nowrap;
    position: relative;
}
.diff-view li > a {
    padding: 3px;
}
.diff-view li > .action-group {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
}

.diff-view li:hover > .action-group {
    display: flex;
}

.diff-view li .file-path {
    color: #999;
    flex: 1;
}
/* .diff-view > li .file-basename {} */

#diff-pane .msg {
    max-height: 150px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #555;
}
#diff-pane .msg pre {
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: pre-line;
}

.parent-list {
    display: inline;
}
.parent-list li {
    display: inline;
}
.parent-list li + li:before {
    content: ", ";
}

.changed-files {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.changed-files .file-modified .status,
.modified {
    color: yellowgreen;
}
.changed-files .file-deleted .status,
.deleted {
    color: red;
}
.changed-files .file-added .status,
.added {
    color: green;
}
.changed-files .file-renamed .status,
.renamed {
    color: blue;
}
.changed-files .file-conflicted,
.conflicted {
    background-color: #aa7700;
}
.changed-files .file-types {
    list-style: none;
}
.changed-files .file-types li {
    display: inline;
    margin-right: 11px;
}
.changed-files .file-types li:last-child {
    margin-right: 0;
}

.commit-header {
    display: flex;
    position: relative;
}
.commit-signature {
    position: absolute;
    left: 11px;
}
.commit-signature.good {
    color: lightgreen;
}
.commit-signature.bad {
    color: lightcoral;
}
.commit-sha {
    flex: 1;
    text-align: center;
}
