* {
  box-sizing: border-box;
  tab-size: 4;
}

::-webkit-scrollbar-corner {
  background: #000;
}
::-webkit-scrollbar {
  background: #000;
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
  border: 2px solid #000;
  min-height: 40px;
  min-width: 40px;
}

head,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #ddd;
  /* FIXME: Add setting to change font, reflect this change in src/Data/Renderer/index.tsx:calculateGlyphWidth */
  font-family: "JetBrainsMonoNL Nerd Font Mono", monospace;
  font-size: 13px;
}
h4 {
  margin: 7px 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ddd;
}
input[type="text"],
textarea {
  background-color: #222;
  border: 1px solid #444;
  padding: 3px;
  color: #ddd;
}
input[type="text"]:focus,
textarea:focus {
  outline: none;
}

#main-window {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
#left-pane {
  width: 200px;
  display: flex;
  flex-direction: column;
}
#right-pane {
  display: flex;
  flex-direction: row;
}
.pane {
  border: 1px solid #999;
  margin: 3px;
  padding: 4px;
}
.pane.active {
  border: 2px solid #999;
  padding: 3px;
  margin: 3px;
}
.inset {
  padding: 4px;
  border: 1px solid #666;
}
#changes-pane {
  height: 100px;
  flex: 0;
}
#branch-pane {
  overflow: auto;
  white-space: nowrap;
  flex-grow: 1;
  will-change: transform;
}

.tree-list > li > ul.tree-list {
  display: none;
}
.tree-list .open > ul.tree-list {
  display: block;
  flex-basis: 100%;
}
.sub-tree {
  display: flex;
  flex-wrap: wrap;
}
.sub-tree > a {
  flex: 1;
}

.selected,
.selected * {
  color: #efefef;
  background-color: #234;
}

.diff-line-marking {
  color: teal;
}
.diff-file {
  color: yellow;
}
.diff-added {
  color: green;
}
.diff-removed {
  color: red;
}

ul.block-list > li > a {
  display: block;
}
ul.block-list > li > a:not(.selected):hover {
  background-color: #1c2122;
}

.disabled {
  pointer-events: none;
}

.scroll-container {
  flex-grow: 1;
  overflow: auto;
  will-change: transform;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

.btn-group {
  margin-left: 6px;
  margin-right: 6px;
}
.btn-group > * {
  border-right-width: 0;
  border-radius: 0;
}
.btn-group >*:last-child {
  border-right-width: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.btn-group >*:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pointer {
  cursor: pointer;
}
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  background: #111;
  border: 1px solid #333;
  border-radius: 2px;
  color: #bbb;
  padding: 3px 6px;
  user-select: none;
}
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  color: #777
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  color: #eee;
}

button.active {
  background: #234;
  color: #fefefe;
}

.fill {
  width: 100%;
  height: 100%;
}
